<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/angular-material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>
      .book_store_logo { max-width: 45px; vertical-align:middle; }
      .book_store_price { padding: 0px; margin: 0px; }
      .book_store_price p { font-size: 12px; font-weight: bold; }
    </style>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <script src="lib/jquery-3.1.1.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/libs.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!--<script src="js/app.js"></script>-->
  </head>
  <body ng-controller="starterCtrl as sc" ng-cloak="">

    <ion-pane>
      <form id="findBook" name="findBook" onsubmit="return false;" style="display:none;">
        <ion-header-bar class="bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Book Title or ISBN" ng-model="sc.searchText">
          </label>
          <a class="button button-icon icon ion-navicon" ng-click="openSideMenu()"></a>
        </ion-header-bar>
      </form>

      <ion-side-menus>
        <ion-side-menu-content style="background: url(./img/books-484766_1920.jpg) center; background-size: cover;">
          <ion-content class="has-footer" delegate-handle="usedBookListScroll">
            <md-input-container class="md-block padding-vertical" style="top: 190px; margin: 20px;" ng-show="validateSearchInput()">
              <label><i class="icon ion-search placeholder-icon"></i>책 검색어</label>
              <input ng-model="sc.searchText" ng-enter="insert()">
            </md-input-container>
            <div ng-view=""></div>
          </ion-content>
        </ion-side-menu-content>

        <ion-side-menu side="right" width="230">
          <ion-content class="has-footer">
            <a menu-close="" href="#buy" class="item item-divider item-light"><i class="fa fa-book positive"></i> <i class="fa fa-arrow-circle-left positive"></i> 중고책 구매가 검색</a>
            <a menu-close="" href="#sell" class="item item-divider item-light"><i class="fa fa-book assertive"></i> <i class="fa fa-arrow-circle-right assertive"></i> 중고책 매입가 검색</a>
          </ion-content>
        </ion-side-menu>
      </ion-side-menus>

      <ion-footer-bar class="bar-stable" ng-if="sc.sellBookList != null && sc.sellBookList.length > 0">
        <div class="row book_store_price">
          <div ng-repeat="total in sc.showCalculation()" class="col col-25 text-center book_store_price">
            <p ng-class="{assertive:totalPriceMax==total.totalPrice}">{{total.kor}}<br>{{total.totalPrice|currency :'':0}}<span style="color: #009689;">원</span></p>
          </div>
        </div>
        <div class="buttons">
          <button class="button icon-right ion-chevron-right button-dark" ng-click="sc.showHyperlink()"></button>
        </div>
      </ion-footer-bar>
    </ion-pane>

    <script id="findBookResult.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-light">
          <button class="button button-light icon-left ion-chevron-left" ng-click="sc.closeResultModal()">Back</button>
          <h1 class="title">책 검색 결과</h1>
        </ion-header-bar>
        <ion-content id="findBookLayer" delegate-handle="findBookScroll">
          <div class="list">
            <a href="#" class="item item-thumbnail-left" ng-repeat="book in sc.findBookList.rss.channel.item" style="padding-left: 80px;" ng-click="sc.selectBook($event, book)">
              <img src="{{book.image}}" alt="{{book.title}}" style="max-width: 54px;">
              <h2 ng-bind="book.title"></h2>
              <p ng-bind="book.author"></p>
              <p ng-bind="book.publisher"></p>
              <p ng-bind="'ISBN:' + book.isbn13"></p>
            </a>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    <script id="bookStoreHyperlink.html" type="text/ng-template">
      <div id="bookStoreHyperlink" class="buttons">
        <button ng-repeat="bookStore in bookBuyerStoreData"
                ng-click="sc.moveToBookStore(bookStore)"
                class="button button-small button-light button-block">
          <img class="book_store_logo" src="./img/{{bookStore.eng}}_logo.png" alt="{{bookStore.kor}}"> {{bookStore.kor}}
          <i class="fa fa-check-circle" ng-if="totalPriceMax == bookStore.totalPrice"></i>
        </button>
      </div>
    </script>
    <script id="startUp.html" type="text/ng-template">
      <div id="startUp" class="buttons">
        <button onclick="location.href='#buy'" class="button button-small button-light button-block">
          <i class="fa fa-book positive"></i> <i class="fa fa-arrow-circle-left positive"></i> 중고책 구매가 검색
        </button>
        <button onclick="location.href='#sell'" class="button button-small button-light button-block">
          <i class="fa fa-book assertive"></i> <i class="fa fa-arrow-circle-right assertive"></i> 중고책 매입가 검색
        </button>
      </div>
    </script>
    <script src="js/app.js"></script>
  </body>
</html>
