<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <!--<script src="js/app.js"></script>-->
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="starterCtrl as sc">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list list-inset">
          <form name="findBook" onsubmit="return false;">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Book Title or ISBN" ng-model="sc.searchText">
            </label>
          </form>
        </div>
        <div class="list">
          <a href="#" class="item item-thumbnail-left" ng-repeat="book in sc.findBookList.rss.channel.item" style="padding-left: 80px;">
            <img src="{{book.image}}" alt="{{book.title}}" style="max-width: 54px;">
            <h2 ng-bind="book.title"></h2>
            <p ng-bind="book.author"></p>
            <p ng-bind="book.publisher"></p>
            <p ng-bind="book.isbn|limitTo:24:10"></p>
          </a>
        </div>
      </ion-content>
    </ion-pane>
    <script src="js/app.js"></script>
  </body>
</html>
