<div class="list" ng-cloak="">
  <div ng-repeat="bookSeller in sellerList">
    <div class="item item-divider">
      {{bookSeller.name}}
      <p style="position: absolute; top: 8px; right: 8px;">
        <!--<i class="fa fa-circle-o-notch fa-spin fa-fw" ng-if="bookSeller.data == null"></i>-->
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <i class="fa fa-chevron-up" aria-hidden="true" style="display: none;"></i>
      </p>
    </div>
    <div id="bookDetail_{{bookSeller.code}}" style="display:none;">
      <a ng-repeat="book in bookSeller.data" ng-click="sc.moveToSellerPage($event, book.uri)" href="#" class="item item-thumbnail-left" style="padding-top: 8px; padding-left: 74px; padding-right: 0px; padding-bottom: 8px;">
        <img src="{{book.img}}" style="width: 57px;">
        <h2 ng-bind-html="book.title"></h2>
        <p><span ng-bind-html="book.author"></span><span ng-if="book.author != null && book.publisher != null"> | </span><span ng-bind-html="book.publisher"></span></p>
        <p>{{book.seller}} <span ng-if="book.release != null">({{book.release}})</span></p>
        <p><span ng-if="bookSeller.code != 'y2'">{{book.originalprice}} → </span><strong class="assertive">{{book.sellprice}}</strong></p>
      </a>
      <div class="item light-bg text-center" style="padding: 8px;" ng-if="bookSeller.paging == true" ng-click="sc.addSearch(bookSeller)">추가 검색 <i class="fa fa-angle-double-down positive"></i></div>
    </div>
  </div>
</div>
