<div class="card" ng-repeat="sell in sc.sellBookList" ng-cloak="">
  <div class="item item-thumbnail-left" style="padding-top: 8px; padding-left: 74px; padding-right: 0px; padding-bottom: 8px;">
    <img src="{{sell.image}}" alt="{{sell.title}}" style="max-width: 54px;">
    <h2 ng-bind="sell.title" style="margin-right: 8px;"></h2>
    <p ng-bind="'ISBN:' + sell.isbn"></p>
    <p ng-click="sc.removeBook($index)" style="position: absolute; top:5px; right:5px;">
      <i class="fa fa-remove"></i>
    </p>
    <div class="button-bar button-outline bar-energized" style="padding-right: 8px;">
      <a href="#" data="1" class="button button-small" ng-class="{'button-assertive':sell.status=='bestPrice'}" ng-click="sc.changeStatus($event, sell, 'bestPrice')">
        <i class="fa fa-angle-double-up"></i> 최상
      </a>
      <a href="#" data="2" class="button button-small" ng-class="{'button-assertive':sell.status=='normalPrice'}" ng-click="sc.changeStatus($event, sell, 'normalPrice')">
        <i class="fa fa-angle-up"></i> 중상
      </a>
      <a href="#" data="3" class="button button-small" ng-class="{'button-assertive':sell.status=='lowPrice'}" ng-click="sc.changeStatus($event, sell, 'lowPrice')">
        <i class="fa fa-angle-down"></i> 상
      </a>
    </div>
    <p></p>
    <div class="row">
      <div class="col col-25 text-center" style="padding: 0px;"><img class="book_store_logo" src="./img/aladin_logo.png" alt="알라딘"></div>
      <div class="col col-25 text-center" style="padding: 0px;"><img class="book_store_logo" src="./img/yes24_logo.png" alt="Yes24"></div>
      <div class="col col-25 text-center" style="padding: 0px;"><img class="book_store_logo" src="./img/bandi_logo.png" alt="반디앤루니스"></div>
      <div class="col col-25 text-center" style="padding: 0px;"><img class="book_store_logo" src="./img/interpark_logo.png" alt="인터파크"></div>
    </div>
    <div class="row book_store_price">
      <div ng-repeat="books in bookBuyerStoreData" class="col col-25 text-center book_store_price">
        <p ng-if="sell[books.eng]==null" style="color: #69717d;">검색안됨</p>
        <p ng-if="sell[books.eng].available==false" style="color: #ef473a;">매입불가</p>
        <p ng-if="sell[books.eng].available==true">{{sell[books.eng].selectedPrice|currency :'':0}}<span style="color: #009689;">원</span></p>
      </div>
    </div>
  </div>
</div>
